@mixin box-sizing {
  box-sizing: border-box;
}

@mixin font-family($font1, $font2) {
  font-family: $font1, $font2, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@mixin img-responsive {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@mixin hide-text($img-url) {
  background-image: url($img-url);
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

/* hover */
@mixin hover-underline($color) {
  padding-block: 5px;
  background-image: linear-gradient($color, $color);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: 0.2s;
  &:hover {
    background-size: 100% 2px;
  }
}

@mixin hover-scale($scale) {
  transition: 0.3s;
  &:hover {
    transform: scale($scale);
  }
}

@mixin hover-none {
  &:hover {
    background-size: 0%;
    transform: none;
  }
}

/* break points */
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin create-responsive-classes($device) {
  @if $device == tablet {
    @include tablet {
      @content;
    }
  } @else if $device == mobile {
    @include mobile {
      @content;
    }
  } @else {
    @content;
  }
}
