/* RWD */
$devices: (
  pc: '',
  tablet: '-md',
  mobile: '-sm',
);

@each $device, $suffix in $devices {
  @include create-responsive-classes($device) {
    /* display */
    .d-none#{$suffix} {
      display: none;
    }
    .d-block#{$suffix} {
      display: block;
    }
    .d-flex#{$suffix} {
      display: flex;
      flex-wrap: wrap;
      & > * {
        flex-shrink: 0;
      }
    }
    .flex-column#{$suffix} {
      flex-direction: column;
    }
    .justify-content-between#{$suffix} {
      justify-content: space-between;
    }
    .justify-content-center#{$suffix} {
      justify-content: center;
    }
    .align-items-center#{$suffix} {
      align-items: center;
    }
    .align-items-start#{$suffix} {
      align-items: start;
    }
    .align-items-end#{$suffix} {
      align-items: end;
    }
    .flex-row-reverse#{$suffix} {
      flex-direction: row-reverse;
    }

    /* space */
    @each $spacer, $s-value in $spacers {
      .w-#{$spacer}#{$suffix} {
        width: $s-value;
      }
      .h-#{$spacer}#{$suffix} {
        height: $s-value;
      }
      .gap-#{$spacer}#{$suffix} {
        gap: $s-value;
      }
      @each $direction, $d-value in $directions {
        .m#{$direction}-#{$spacer}#{$suffix} {
          margin-#{$d-value}: $s-value;
        }
        .p#{$direction}-#{$spacer}#{$suffix} {
          padding-#{$d-value}: $s-value;
        }
      }
    }

    /* grid */
    @each $percentage, $value in $percentages {
      .w-#{$percentage}#{$suffix} {
        width: $value;
      }
      .h-#{$percentage}#{$suffix} {
        height: $value;
      }
    }

    /* font size */
    @each $size, $value in $font-size {
      .text-#{$size}#{$suffix} {
        font-size: $value;
      }
    }

    /* font weight */
    @each $weight, $value in $font-weight {
      .text-#{$weight}#{$suffix} {
        font-weight: $value;
      }
    }
    .text-italic#{$suffix} {
      font-style: italic;
    }

    /* color */
    @each $color, $value in $colors {
      .text-#{$color}#{$suffix} {
        color: $value;
      }
      .bg-#{$color}#{$suffix} {
        background-color: $value;
      }
      @each $direction, $d-value in $directions {
        .border-#{$direction}-#{$color}#{$suffix} {
          border-#{$d-value}: 1px solid $value;
        }
      }
    }

    /* hover effect */
    @each $color, $value in $colors {
      .hover-underline-#{$color}#{$suffix} {
        @include hover-underline($value);
      }
      .hover-background-#{$color}#{$suffix} {
        @include hover-background($value);
      }
    }
    .hover-scale#{$suffix} {
      @include hover-scale(1.1);
    }
    .hover-opacity#{$suffix} {
      @include hover-opacity(0.6);
    }
    .hover-reset#{$suffix} {
      @include hover-reset;
    }

    /* text align */
    .text-center#{$suffix} {
      text-align: center;
    }
    .text-end#{$suffix} {
      text-align: end;
    }
  }
}

.card {
  margin: -12px;
  .card-item {
    padding: 12px;
  }
}

//有空確認哪些不用做RWD
