.banner {
  height: 787px;
  background-image: url('../../assets/images/home-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile {
    height: 396px;
    background-image: url('../../assets/images/home-header-sm.png');
  }
  button {
    margin-top: 4px;
    @include mobile {
      margin-top: 8px;
    }
    a {
      padding: 6px 12px;
    }
  }
}

.design {
  background-image: url('../../assets/images/index-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  @include tablet {
    background-image: url('../../assets/images/index-bg-md.png');
  }
  @include mobile {
    background-image: url('../../assets/images/index-bg-sm.png');
  }
}

.recommend {
  @include mobile {
    li:not(last-child) {
      margin-bottom: -8px;
    }
  }
  .recommend-text {
    overflow: auto;
    height: 112px;
  }
}

.contact {
  input:not([type='checkbox']) {
    height: 33px;
  }
  input::placeholder,
  textarea::placeholder {
    padding-inline: 4px;
  }
}
